@font-face {
    font-family: 'Helvetica';
    src: url('./fonts/Helvetica-Bold.ttf') format('ttf');
    src: url('./fonts/Helvetica-BoldOblique.ttf') format('ttf');
    src: url('./fonts/helvetica-compressed-5871d14b6903a.otf') format('otf');
    src: url('./fonts/helvetica-light-587ebe5a59211.ttf') format('ttf');
    src: url('./fonts/Helvetica-Oblique.ttf') format('ttf');
    src: url('./fonts/Helvetica.ttf') format('ttf');
}

 *{
    font-family: 'Helvetica';
    margin: 0;
    padding: 0;

}


header{
    width: 100vw;
    height: 100vh;
    background-color:gray;
}

#gallery-item{
    display: flex;
    flex-wrap: wrap;
}

.photo{
    /* padding: vmax; */
    margin: 5vmax;
    max-width: 100%;
    height: 180px;
    border: 1px solid rgb(29, 27, 27);
}

